<footer class="footer-distributed">
    <div class="footer-left">
        <h3><span>UrbanStore</span></h3>

        <p class="footer-links">
            <a href="#">Home</a> · <a href="#">All Products</a> ·
            <a href="#">Orders</a> · <a href="#">About US</a> · <a href="#">Faq</a> ·
            <a href="#">Contact US</a>
        </p>

        <p class="footer-company-name">UrbanStore © 2022</p>
    </div>

    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p>
                <span>2, Nelson Mandela Marg, Dlf Promenade, </span> Vasant Kunj, Delhi 110070
            </p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+1 555 123456</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@UrbanStore.com">support@UrbanStore.com</a></p>
        </div>
    </div>

    <div class="footer-right">
        <p class="footer-company-about">
            <span>About the company</span> UrbanStore has simplified the shopping experience for its value-conscious buyers by showcasing the most relevant products- products that are a good functional fit with their needs and of a quality that lasts-
            thereby delivering true value to its customers. With its commitment to high service standards,UrbanStore suppliers operate under a well structured ecosystem that enables them to offer great quality products at affordable prices. With majority
            of the value-seeking, middle-income, price-conscious buyers coming from the non-metros.
        </p>

        <div class="footer-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
        </div>
    </div>
</footer>